In [ ]:
listaNomes = ["Fernando", "Willian", "João", "Tiba"]

In [ ]:
len(listaNomes)

4

In [ ]:
a = 3

In [ ]:
type(a)

int

In [ ]:
a = 1
b = a
a = a+1

print(b)

1

In [ ]:
a = [1,2,3]
b = a
a.remove(2)
print(b)

[1, 2, 3]

In [ ]:
a = [1,2,3]
b = a[::] #copia da lista
a.remove(2)
print(b)

In [ ]:

a = 1
cont=0
while(cont<10):
  b = a
  a = a+1
  cont+=1


print(b)

In [ ]:
a = "Fernando"
b = a
a = "Jose"
print(b)

Fernando

In [ ]:
produto = ["OMO Multi acao", 34.21, 4]

In [ ]:
produto[2] = 5

In [ ]:
produto

['OMO Multi acao', 34.21, 5]

In [ ]:
nome = "Fernando"

In [ ]:
nome[0] = "J"

TypeError: ignored

In [ ]:
listaPacientes = [
			["João José Bonifácio", 39, 38.4, -1],
["Maria Catarina Silva",  57, 35.33, 3],
["Pedro de Souza",  75, 36.3, -1]
]

In [ ]:
listaPacientes[0][3]

-1

In [ ]:
lista = []
a = [1]
lista.append(a)
a.append(4)
print(lista)

[[1, 4]]

In [ ]:
lista = []
a = 1
lista.append(a)
a=3
print(lista)

[1]

In [ ]:
a = [1,2,3]

In [ ]:
3*a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
3*[0]

[0, 0, 0]

In [ ]:
listaPacientes = [
			["João José Bonifácio", 39, 38.4],
["Maria Catarina Silva",  57, 35.33],
["Pedro de Souza",  75, 36.3]
]

In [ ]:
for paciente in listaPacientes:
  print("", paciente[0]) #a primeira posicao sempre armazena o nome

Nome:  João José Bonifácio
Nome:  Maria Catarina Silva
Nome:  Pedro de Souza

In [ ]:
for nome, idade, temperatura in listaPacientes:
  print("Nome: ", nome)

Nome:  João José Bonifácio
Nome:  Maria Catarina Silva
Nome:  Pedro de Souza

In [ ]:
listaNumeros = []

for i in range(100):
  numero = float(input("digite um numero: "))
  listaNumeros.append(numero)

digite um numero: 3
digite um numero: 2
digite um numero: 30
digite um numero: 45
digite um numero: 21
digite um numero: 54
digite um numero: 32
digite um numero: 18
digite um numero: 54
digite um numero: 32

In [ ]:
listaNumeros

[3.0, 2.0, 30.0, 45.0, 21.0, 54.0, 32.0, 18.0, 54.0, 32.0]

In [ ]:
x = [1,2,3,4]
y= ["Joao", "Maria", "Jose", "Pedro"]

for a,b in zip(x,y):
  print(a,b)

1 Joao
2 Maria
3 Jose
4 Pedro

In [ ]:
chr(81)

'Q'

In [ ]:
for i in range(300):
  print(i, chr(i))

0  
1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 
128 
129 
130 
131 
132 
133
134 
135 
136 
137 
138 
139 
140 
141 
142 
143 
144 
145 
146 
147 
148 
149 
150 
151 
152 
153 
154 
155 
156 
157 
158 
159 
160
161 ¡
162 ¢
163 £
164 ¤
165 ¥
166 ¦
167 §
168 ¨
169 ©
170 ª
171 «
172 ¬
173 ­
174 ®
175 ¯
176 °
177 ±
178 ²
179 ³
180 ´
181 µ
182 ¶
183 ·
184 ¸
185 ¹
186 º
187 »
188 ¼
189 ½
190 ¾
191 ¿
192 À
193 Á
194 Â
195 Ã
196 Ä
197 Å
198 Æ
199 Ç
200 È
201 É
202 Ê
203 Ë
204 Ì
205 Í
206 Î
207 Ï
208 Ð
209 Ñ
210 Ò
211 Ó
212 Ô
213 Õ
214 Ö
215 ×
216 Ø
217 Ù
218 Ú
219 Û
220 Ü
221 Ý
222 Þ
223 ß
224 à
225 á
226 â
227 ã
228 ä
229 å
230 æ
231 ç
232 è
233 é
234 ê
235 ë
236 ì
237 í
238 î
239 ï
240 ð
241 ñ
242 ò
243 ó
244 ô
245 õ
246 ö
247 ÷
248 ø
249 ù
250 ú
251 û
252 ü
253 ý
254 þ
255 ÿ
256 Ā
257 ā
258 Ă
259 ă
260 Ą
261 ą
262 Ć
263 ć
264 Ĉ
265 ĉ
266 Ċ
267 ċ
268 Č
269 č
270 Ď
271 ď
272 Đ
273 đ
274 Ē
275 ē
276 Ĕ
277 ĕ
278 Ė
279 ė
280 Ę
281 ę
282 Ě
283 ě
284 Ĝ
285 ĝ
286 Ğ
287 ğ
288 Ġ
289 ġ
290 Ģ
291 ģ
292 Ĥ
293 ĥ
294 Ħ
295 ħ
296 Ĩ
297 ĩ
298 Ī
299 ī

In [ ]:
"ratos" in "O rato roeu a roupa do rei de Roma"

False

In [ ]:
caractere = ","

ord(caractere) >= ord("a") and ord(caractere)<= ord("z")

False

In [ ]:
char a = 'a'

In [ ]:
s = "Olá, mundo!"
print(s)
# Substitui uma substring por alguma outra coisa.
s1 = s.replace("mundo", "meu Recife")
print(s1)

Olá, mundo!
Olá, meu Recife!

In [ ]:
s

'Olá, mundo!'